<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style type="text/css">
      body {
        margin: 0pt;
        text-align: center;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
  </body>
</html>